.background-color {
    background-color: rgb(32, 31, 31);
}

.card-color{
    background-color: #191717;
}

.button-design{
background-color: #d16527;

}
.button-design-span{
margin-top: -5px;
}
.chose-us:hover {
width: 400px;
height: 400px;
}
.my-element {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
  }
  
  /* Set the transform for the element on hover */
  



.service-card:hover {
border-top: 5px solid #d16527;
}
  

.chose-us:hover {
  position: relative;
  height: 100%;
  animation: skew 1s ease-in-out infinite alternate;
}







@keyframes skew {
  from {
    transform: skew(0deg);
  }
  to {
    transform: skew(5deg);
  }
}

